$body-text-align: left;
$input-btn-font-family: $font-family-sans-serif !default;
$dropdown-dark-box-shadow: none !important;
$nav-link-font-weight: none !important;
$nav-link-font-size: 1rem;
$card-box-shadow: none;
$card-cap-color: none;
$card-height: none;
$card-color: none;
$breadcrumb-bg: none;
$breadcrumb-border-radius: none;
$toast-color: none;
$modal-footer-bg: none;
$tooltip-margin: none;
$modal-content-color:none;
$breadcrumb-font-size: 1rem;
$popover-header-color: none;